#h_project {
  h3.title {
    font-size: 36px;
    color: $main-color;
  }
  #list-project {
    margin-top: 20px;
    margin-bottom: 20px;
    .one-item {
      padding: 5px;
      img.one-project-img {
        height: 200px;
      }
      h4.title {
        text-align: center;
        a {
          transition: all 0.2s;
          color: $main-color-title;
        }
        a:hover {
          color: $main-color-sub;
        }
      }
    }
  }
  a.btn-more {
    display: block;
    padding: 10px;
    border: 1px solid $main-color-sub;
    color: $main-color;
    transition: all 0.2s;
  }
  a.btn-more:hover {
    background-color: $main-color;
    color: white;
  }
}